*{
    box-sizing: border-box;
}
body{
    font-size: medium;
    /*color: aquamarine;
    /*background-color: rgb(69, 233, 19);
    */
    font-family: 'Ubuntu', sans-serif;
}
#header-nav{
    background-color: rgb(212, 215, 235);
    border-radius: 0;
    border: 0;
}

.bg-border{
    margin-left: 5%;
    margin-right: auto;
    background-color: #999999;
    width: 90%;
    padding: 0%;
}
.text-center{
    color:black;
    /*background-color: #fdfdfd;*/
    font-weight: 900;
}
p{
    font-size: larger;
    color: #b700ff;
}/*
#container-color
{
    
    background-color: rgb(122, 211, 20);
    background-image: linear-gradient(45deg,#7ad314,#66ff66,	#3399ff);

}*/
.bg-color{
    color: rgb(72, 82, 197);
    background-color: #ffff00;
    
}

.t-color{
   /*background-image: linear-gradient(180deg,#7ad314,#ffffff,	#ff9100,white,green);
   */margin-bottom: 10px;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar{
    /*border-radius: 100px;
    */border:1px solid maroon; 
}
/*.navbar-default .navbar-nav>.active>a{
    color: aquamarine;
    background-color: #00e1ff;

}
*/